// Default Theme Color Palette

// Red
$red-light: #DF5B61;
$red-dark: #F16269;

// Pink
$pink-light: #FFBEBE;
$pink-dark: #FFBEBE;

// Purple
$purple-light: #BC83E3;
$purple-dark: #C488EC;

// Blue
$blue-light: #6791C9;
$blue-dark: #79AAEB;

// Teal
$teal-light: #67AFC1;
$teal-dark: #7ACFE4;

// Green
$green-light: #78B892;
$green-dark: #8CD7AA;

// Yellow
$yellow-light: #FBC02D;
$yellow-dark: #FFD600;

// Orange
$orange-light: #DE8F78;
$orange-dark: #E9967E;

// Grey
$grey-050: #D9D7D6;
$grey-100: #F2F2F2;
$grey-150: #EEEEEE;
$grey-200: #DDDDDD;
$grey-250: #CCCCCC;
$grey-300: #BFBFBF;
$grey-350: #A0A0A0;
$grey-400: #9E9E9E;
$grey-450: #868686;
$grey-500: #727272;
$grey-550: #555555;
$grey-600: #464646;
$grey-650: #3C3C3C;
$grey-700: #2C2C2C;
$grey-750: #242424;
$grey-800: #162026;
$grey-850: #1C252C;
$grey-900: #0A1419;
$grey-950: #061115;

// White
$white: #D9D7D6;

// Black
$black: #000000;

// Button
$button-close: #DF5B61;
$button-max: #78B892;
$button-min: #E9967E;

// Theme
$default-light: $blue-light;
$default-dark: $blue-dark;
